<div class="">
  <div class="btn-group" role="group" aria-label="...">
    <a routerLink='/apiz/spotify'><button type="button" class="btn btn-default"><i class="fa fa-spotify"></i> Spotify</button></a>
    <a routerLink='/apiz/facebook'><button type="button" class="btn btn-default"><i class="fa fa-facebook-official"></i >Facebook</button></a>
    <a routerLink='/apiz/snapchat'><button type="button" class="btn btn-default"><i class="fa fa-snapchat-ghost"></i >Snapchat</button></a>
  </div>
  <router-outlet></router-outlet>
</div>