<h3>Predefined track finding with Spotify</h3>
<br>
<div class="col-md-8">
    <p-dataGrid *ngIf="tracks" [value]="tracks" [paginator]="true" [rows]="20">
      <template let-track>
        <div class="row  ui-widget-content">
          <div class="col-xs-3">
            <img class="img-fluid" src="{{track.album.images[1].url}}">
          </div>
          <div class="col-xs-9">
            <div>
              {{track.artists[0].name}} - {{track.name}}
            </div>
            <div class="album-detail">
              {{track.album.name}} - {{track.album.year}}
            </div>
            <div class="popularity">
              Popularity: {{track.popularity}}%
            </div>
            <hr class="ui-widget-content" style="border-top:0">
          </div>
        </div>
      </template>
    </p-dataGrid>
</div>
